{%extends 'layout.html'%}
{%block content%}

<div class="menu_bar">
        <h1 class="logo">CODE<span>CUBIX</span></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mycreation">My Creation<i class="fas fa-caret-down"></i> </a></li>
            <li><a href="#">Quiz code</a></li>
            <li><a href="#">Latest Quiz</a></li>
            <li><a href="#">About me</a></li>
        </ul>
    </div>
    <div class="bmi">
    <form action="/bmicalc" method="POST">
        <h3>BMICALC</h3>
        <input type="text" name="name" id="" placeholder="name">
        <input type="number" name="height" id="" placeholder="height in centimeter" min="80" max="200">
        <input type="number" name="weight" id="" placeholder="weight in kg" min="20" max="150">
        <button type="submit">Submit</button>
    </form>
    {{message}}
    {{message2}}
   </div>
{%endblock%}   