<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>addition</title>
</head>
<style>
    input[type='radio']{
        margin-left: 48%;
        
    }
    .bmi{
        margin-top: 10%;
    }
</style>
<body>
    <div class="menu_bar">
        <h1 class="logo">CODE<span>CUBIX</span></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mycreation">My Creation<i class="fas fa-caret-down"></i> </a></li>
            <li><a href="#">Quiz code</a></li>
            <li><a href="#">Latest Quiz</a></li>
            <li><a href="#">About me</a></li>
        </ul>
    </div>
    <div class="bmi">
    <form action="/addition" method='post'>
        <h2>Calculator</h2>
        <input type="text" name="number1" placeholder="number1">
        <input type="text" name="number2" placeholder="number2">
        addition
        <input type="radio" name="calc" value="add" id="">
         subtraction

        <input type="radio" name="calc" value="sub" id="">
        multiplication
        <input type="radio" name="calc" value="multi" id="">
        division
        <input type="radio" name="calc" value="divi" id="">
        <button type="submit">Submit</button>
        <h1>{{add}}</h1>
        <h1>{{error}}</h1>
    </form>
    </div>
</body>
</html>