<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Creation</title>
</head>
<body>
    <div class="menu_bar">
        <h1 class="logo">CODE<span>CUBIX</span></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mycreation">My Creation<i class="fas fa-caret-down"></i> </a></li>
            <li><a href="#">Quiz code</a></li>
            <li><a href="#">Latest Quiz</a></li>
            <li><a href="#">About me</a></li>
        </ul>
    </div>
<section class="container">
    <div class="card">
        <div class="card-img car-1"></div>
        <h1>BMI calc</h1>
        <a href="/bmicalc">Know more</a>
    </div>
    <div class="card">
        <div class="card-img car-2"></div>
        <h1>HTML</h1>
        <p>learn from one of the greatest HTML teacher</p>
        <a href="/addition">Know more</a>
    </div>
    <div class="card">
        <div class="card-img car-3"></div>
        <h1>CSS</h1>
        <p>learn from one of the greatest CSS teacher</p>
        <a href="#">Know more</a>
    </div>
</section>
</body>
</html>